.img-slidshow{

    width: 100vw;
    height: 100vh;
    object-fit: cover;
    max-width: 100%;
    animation: zoomIn 8s ease-in ;
}

@keyframes zoomIn{

    from{
        transform: scale(1);
    }

    to{
        transform: scale(1.2);
    }
}

.slidshow-container{

    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
}

.slidshow-overlay{

    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;

    p{
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
        color: white;
        font-size:40px;
        border-left: 8px solid rgb(141, 24, 14);
        padding-left: 20px;
    }
}

.fade-in{
    animation: fadeInAnimation 1.5s ease-in-out;
}

@keyframes fadeInAnimation{
    from{
        opacity: 0;
        top: 55%;
    }

    to{

        opacity: 1;
        top: 50%;
    }
}